body {
    font-family: 'Roboto', sans-serif;
	background-image: url("../images/bg.png");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.auth-container {
    background:#2d2d2d;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.auth-container h2 {
    margin-bottom: 20px;
    color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form label {
    font-weight: 500;
    color: white;
}

.auth-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.auth-form button {
    padding: 10px;
    background-color: #143e61;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form button:hover {
    background-color: #134f64;
}

.back-link {
    margin-top: 20px;
}

.back-link a {
    color: #56d5bc;
    text-decoration: none;
    font-size: 14px;
}

.back-link a:hover {
    text-decoration: underline;
}
